/* @media screen and (max-height: 768px) {
.section_first div{
    margin: 10px auto;
  }
} */

/* @media screen and (min-height: 769px) {  
    .section_first div{
        width: 820px;
        padding-top: 300px;
      } */
/* } */
