/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>1550px */

@media (max-width: 1550px) {
  .bar h1 {
    font-size: 60px;
  }
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>1450px */


@media screen and (max-width: 1450px) {
  .timeline{
    height: 100px !important;
  }

  .sub_section_bar div {
    padding: 20px 0;
  }

  .bar h1 {
    font-size: 50px;
  }

  .sub_section_bar .bar2{
    height: 90px !important;
  }
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>1225px */


@media screen and (max-width: 1225px) {
  .section_first div {
    width: 600px;
  }

  .container p {
    font-size: 18px;
  }

  .container h1 {
    font-size: 45px;
  }

  .container h3 {
    font-size: 25px;
  }

  .sub_section_bar .bar2{
    height: 80px !important;
  }

  .sub_section_bar div {
    padding: 15px 0;
  }

  .bar h1 {
    font-size: 40px;
  }

  .section_three .lab h1 {
    margin: 0 0 50px 120px;
  }

  .info h1 {
    margin: 5px 0 50px 120px !important ;
  }

  .fullname h1 {
    font-size: 123px !important;
  }

  .profile_photo img {
    height: 450px !important;
  }

  /* .code_line {
    max-width: 600px !important;
  } */

  .timeline {
    margin-top: 150px !important;
    height: 930px !important;
    margin-bottom: 54px !important;
  }
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>998px */


@media (max-width: 998px) {
  .section_first div {
    width: 520px  !important;
  }

  .container p {
    font-size: 12px;
  }

  .container h1 {
    font-size: 35px;
  }

  .container h3 {
    font-size: 18px;
  }
  
  .resume{
    padding: 9px 20px !important;
    font-size: 15px !important;
  }

  .sub_section_bar .bar2{
    height: 50px !important;
    width: 102vw !important;
  }

  .sub_section_bar div {
    width: 105vw;
    padding: 0px 0;
  }

  .bar h1 {
    padding: 10px 0px !important;
    font-size: 25px;
  }

  .section_three .lab h1 {
    margin: 0 0 50px 100px;
  }

  .info h1 {
    margin: 5px 100px 50px 100px !important;
  }

  .fullname h1 {
    font-size: 95px !important;
  }

  .profile_photo {
    margin-top: -68px !important;
  }

  .profile_photo img {
    height: 400px !important;
  }

  .section_three {
    margin-bottom: 80px !important;
  }
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>880px */


@media screen and (max-width: 880px) {
  .section_two {
    height: 35vh !important;
  }
  .item_two h1 {
    font-size: 4.7rem;
    line-height: normal;
  }
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>830px */


@media screen and (max-width: 830px) {
  .section_first {
    width: 100vw;
  }
  .section_first div {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .container p {
    font-size: 12px;
  }

  .container h1 {
    font-size: 33px;
  }

  .container h3 {
    font-size: 18px;
  }

  .item_two h1 {
    font-size: 4.4rem;
    cursor: none;
    line-height: normal;
  }

  .fullname h1 {
    font-size: 80px !important;
  }
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>782px */


@media screen and (max-width: 782px) {
  .item_two h1 {
    font-size: 4rem;
    line-height: normal;
  }

  .fullname h1 {
    font-size: 75px !important;
  }

  .profile_photo {
    margin-top: -45px !important;
  }

  .profile_photo img {
    height: 400px !important;
  }

  .section_three {
    margin-bottom: 70px !important;
  }

  .offset {
    flex-basis: 100% !important;
  }
  .code_line {
    max-width: 550px !important;
  }

  .timeline {
    height: 990px !important;
    margin-bottom: -11px !important;
  }

  .code_line div {
    font-size: 14.5px !important;
  }

  .contact_form form {
    width: 650px !important;
  }

  .bio{
    width: 660px !important;
  }

  #bio{
    font-size: 45px !important;
    height: 500px !important;
  }

}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>732px */


@media screen and (max-width: 732px) {
  .section_first {
    width: 100vw;
  }

  .item_two h1 {
    font-size: 3.5rem;
    cursor: none;
    line-height: normal;
  }

  .sub_section_bar div {
    width: 100%;
  }
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>660px */


@media screen and (max-width: 660px) {

  .section_first {
    width: 100vw;
    height: 70vh;
  }

  .section_first div {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 24px;
  }

  .container p {
    font-size: 12px;
  }

  .container h1 {
    font-size: 33px;
  }

  .container h3 {
    font-size: 17px;
  }

  .sub_section_bar .bar2{
    height: 50px;
    width: 100%;
  }

  .sub_section_bar div {
    width: 100%;
  }

  .bar h1 {
    padding: 12px 0px !important;
    font-size: 22px;
  }

  .item_two h1 {
    font-size: 3rem;
    cursor: none;
    line-height: normal;
  }

  .section_three {
    height: 1200px !important;
    margin-bottom: 0px !important;
  }
  .section_three .lab h1 {
    margin: 0 0 50px 10px;
  }

  .info h1 {
    font-size: 15px !important;
    margin: 5px 10px 50px 10px !important;
  }

  .fullname h1 {
    font-size: 65px !important;
  }

  .profile_photo {
    margin-top: -38px !important;
  }

  .bio {
    width: 410px !important;
  }
  #bio {
    font-size: 35px !important;
  }

  .grid {
    margin-bottom: 180px !important;
  }

  .offset {
    flex-basis: 100% !important;
  }
  .code_line {
    /* max-width: 100%; */
  }

  .timeline {
    height: auto;
    margin-bottom: 80px;
  }

  .code_line div {
    font-size: 13px !important;
    line-height: 23.6px;
  }

  .contact_form form {
    width: 100%;
    padding: 0 16px;
  }

  .connect div h6 {
    width: 90%;
  }

  .btn,
  .btn2 {
    padding: 17px 90px !important;
  }
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>590px */


@media screen and (max-width: 590px) {
  .section_first {
    width: 100vw;
    height: 70vh;
  }

  .section_first div {
    width: 380px !important;
    margin: 0 auto !important;
  }

  .container p {
    font-size: 10px !important;
  }

  .container h1 {
    font-size: 25px !important;
  }

  .container h3 {
    font-size: 13px !important;
  }

  .resume{
    padding: 7px 15px !important;
    font-size: 13px !important;
 }

 .sub_section_bar .bar2{
  height: 50px;
  width: 100%;
}

.btn,
  .btn2 {
    margin: 30px 5px !important;
    font-size: 20px !important;
    padding: 17px 80px !important;
    background-position: 0 25% !important;
  }

  .bottom_resume{
    padding: 10px 30px !important;
    font-size: 16px !important;
  }

  .section_five{
    margin-bottom: -80px !important;
  }

}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>550px */


@media screen and (max-width: 550px) {
    
  .sub_section_bar .bar2{
    height: 50px;
    width: 100%;
  }
    .item_two h1 {
     font-size: 2.4rem;
     line-height: normal;
     cursor: none;
   }
   .section_two {
     height: 10vh !important;
     padding: 50px 20px 150px 20px !important;
     margin: 50px 0 150px 0;
   }
 
   .fullname h1 {
     font-size: 50px !important;
   }
 
   .offset {
     flex-basis: 100%;
     max-width: 100%;
   }
   .code_line {
     max-width: 100%;
   }
 
   .timeline {
     height: auto;
     margin-bottom: 80px;
   }

   .section_three {
    margin-bottom: -50px !important;
  }

   .bio{
    width: 90%;
   }
   #bio {
    margin: 1px auto !important;
    font-size: 25px !important;
  }
 
   .code_line div {
     font-size: 13px !important;
     line-height: 23.3px;
   }

   .contact_form form {
    width: 100%;
    padding: 0 16px;
  }

  .connect div h1{
    font-size: 70px !important;
  }

  .connect div h6 {
    width: 356px !important;
    font-size: 18.5px !important;
    line-height: 26px !important;
  }

  .btn,
  .btn2 {
    margin: 30px 5px !important;
    font-size: 18px !important;
    padding: 17px 65px !important;
    background-position: 0 25% !important;
  }

  .bottom_resume{
    padding: 10px 30px !important;
    font-size: 16px !important;
  }

  .section_five{
    margin-bottom: -80px !important;
  }

  .foot_one{
    font-size: 11px !important;
  }

 }

 /* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>420px */


@media screen and (max-width: 420px) {
  .section_first {
    width: 100vw;
    height: 60vh;
  }

  .section_first div {
    width: 300px !important;
    margin: 0px 50px !important;
  }

  .container p {
    font-size: 10px !important;
  }

  .container h1 {
    font-size: 20px !important;
  }

  .container h3 {
    font-size: 15px !important;
  }

  .sub_section_bar .bar2{
    height: 30px;
    width: 100%;
  }

  .item_two h1 {
    font-size: 1.7rem !important;
    line-height: normal;
    cursor: none;
  }

  .grid {
    display: flex;
    flex-direction: column;
    max-height: 700px !important;
  }

  .bar h1 {
    padding: 11px 0px !important;
    font-size: 18px;
  }

  .box1 {
    width: 70% !important;
  }
  .box1 h1 {
    margin: 10px !important;
    font-size: 25px !important;
  }

  .box1 p a {
    font-size: 15px !important;
  }

  .fullname h1 {
    font-size: 40px !important;
  }

  .profile_photo {
    margin-top: -25px !important;
  }

  .profile_photo img {
    height: 200px !important;
  }

  .bio {
    width: 350px !important;
  }

  .offset {
    flex-basis: 100%;
    max-width: 100%;
  }

  .code_line {
    max-width: 100%;
  }

  .timeline {
    height: auto;
    margin-bottom: 120px;
  }

  .code_line div {
    font-size: 10px !important;
    line-height: 15.6px;
  }

  .contact_form form {
    width: 100%;
    padding: 0 16px;
  }

  .btns {
    display: flex !important;
    flex-direction: row !important;
  }

  .btn,
  .btn2 {
    margin: 30px 10px !important;
    font-size: 18px !important;
    padding: 17px 50px !important;
    background-position: 0 25% !important;
  }

  .connect div h1 {
    font-size: 58px !important;
  }

  .connect div h6 {
    width: 340px !important;
    font-size: 15px !important;
    line-height: 26px !important;
  }

  footer {
    padding: 30px !important;
  }
  .foot_one {
    font-size: 10px !important;
    line-height: 21px;
  }
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>350px */


@media screen and (max-width: 350px) {
  .section_first {
    width: 100vw !important;
  }

  .section_first div {
    width: auto;
    margin: 0 auto !important;  }

  .container p {
    font-size: 8px;
  }

  .container h1 {
    font-size: 15px;
  }

  .container h3 {
    font-size: 12px;
  }

  .sub_section_bar .bar2{
    height: 50px;
    width: 100%;
  }

  .resume{
    padding: 5px 12px !important;
    font-size: 12px !important;
 }

  .section_two {
    height: 5vh !important;
    padding: 20px !important;
    margin: 20px 0 190px 0;
  }
  .item_two h1 {
    font-size: 1.5rem !important;
    line-height: normal;
    cursor: none;
  }

  .grid {
    display: flex;
    flex-direction: column;
    max-height: 700px !important;
  }

  .box1 {
    width: 70% !important;
  }
  .box1 h1 {
    margin: 10px !important;
    font-size: 23px !important;
  }

  .box1 p a {
    font-size: 14px !important;
  }

  .fullname h1 {
    font-size: 35px !important;
  }

  .profile_photo {
    margin-top: -20px !important;
  }

  .profile_photo img {
    height: 150px !important;
  }

  .bio {
    width: 250px !important;
  }

  #bio {
    font-size: 25px !important;
  }
  .offset {
    flex-basis: 100%;
    max-width: 100%;
  }

  .code_line {
    max-width: 100%;
  }

  .timeline {
    height: auto;
    margin-bottom: 120px;
  }

  .code_line div {
    font-size: 8.3px !important;
    line-height: 15.6px;
  }

  .contact_form form {
    width: 100%;
    padding: 0 16px;
  }

  .btn,
  .btn2 {
    margin: 30px 5px !important;
    font-size: 15px !important;
    padding: 17px 40px !important;
    background-position: 0 25% !important;
  }

  .connect div h1 {
    font-size: 50px !important;
  }

  .connect div h6 {
    width: 250px !important;
    font-size: 12px !important;
    line-height: 15px !important;
  }

  footer {
    padding: 30px !important;
  }
  .foot_one {
    font-size: 8.5px !important;
    line-height: 21px;
  }
}