*{
    margin: 0;
    /* saksham */
}
html , body{   
    background-color: #1c1c1c;
    scroll-behavior: smooth;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
:root{
    --color1:#5918df ; /*#FFCDD2*/
    --color2:#FEEBEA ;
    --light_color:#fbd4b9 ;
    --red:#ee7050;
    --color-bg: #29295a;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77,181,255,.4);
    --color-white: #fff;
    --color-light: hsla(0,0%,100%,.6);
    --transition: all 400ms ease;
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>    All the Fonts */


@font-face {
    font-family: one;
    src: url(font/RobotoCondensed-Regular.ttf);
}

@font-face{
    font-family: two;
    src: url(font/FontsFree-Net-FormulaCondensed-Bold.ttf);
}

@font-face{
    font-family: pcb_light;
    src: url(font/PP\ Formula\ Condensed\ Regular\ 400.otf);
}

@font-face {
    font-family: three;
    src: url(font/RobotoCondensed-Light.ttf);
}

@font-face{
    font-family: four;
    src: url(font/PP\ Formula\ Condensed\ Bold\ 700.otf);
}

@font-face{
    font-family: 'five';
    src: url(font/RobotoCondensed-Bold.ttf);
}

@font-face{
    font-family: six;
    src: url(font/palr46w.ttf);
}

@font-face{
    font-family: seven;
    src: url(font/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: eight;
    src: url(font/ppneuemontreal-medium.otf);
}

.section_first{
    background-image:url(./img/bg-2.jpg);
    background-size: cover;
    height: 90vh;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.container{
    font-family: five;
    width: 820px;
    margin: 0 auto !important;
    padding-top: 300px !important;
}

.container p{
    font-family: three;
}

.container h3{
    font-family: one;
}

.resume{
    font-family: seven;
    text-transform: uppercase;
    padding: 12px 25px;
    margin-top: 20px;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--red);
    color: rgb(255, 255, 255);
    animation-name: color_change;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    box-shadow: -5px -5px 20px rgba(78, 77, 77, 0.5), 5px 5px 20px rgba(78, 77, 77, 0.5);
}

@keyframes color_change {
    0%     {background: #ffa63d; filter: brightness(150%);}
    16.6%  {background: #ff3d77; filter: brightness(150%);}
    33.2%  {background: #007656; filter: brightness(150%);}
    49.8%  {background: var(--red); filter: brightness(150%);}
    66.4%  {background: #007656; filter: brightness(150%);}
    83%    {background: #ff3d77; filter: brightness(150%);}
    100%   {background: #ffa63d; filter: brightness(150%);}
    }

.sub_section_two{
    background-color: #1c1c1c;
    height: 180px;
}

.bar{
    display: flex;
    height: 25%;
    background-color :var(--red);
    transform: matrix(0.99863, -0.052336, 0.052336, 0.99863, 0, 0);
    width :100%;
    z-index: 2;
    /* white-space: nowrap; */
}

.white_space{
    white-space: nowrap;
}

.li{
    text-transform: uppercase;
    color :#ffccde;
    font-family :five;
    font-size :64px;
    font-weight: 500;
    letter-spacing: 0.50px;
    cursor: default;
    animation-name: loop;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loop {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.bar2{
    background-color: #2e2e2e;
    flex: none;
    padding: 0 !important;
    height: 98px;
    overflow: hidden;
    left: -20px;
    right: 0px;
    position: absolute;
    top: calc(92% - 10px / 2);
    transform: rotate(7deg);
    z-index: 0;
}

.section_two{
    align-content: center;
    align-items: center;
    cursor: default;
    height: 40vh;
    justify-content: center;
    padding: 240px 40px; 
    background-color: #1c1c1c; 
}

.item_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hooks{
    overflow: visible;
    padding: 0;
    z-index: 1;
    position: relative;
}

.chooks-img,  .vhooks-img, .ahooks-img{
    height: 155px;
}

.thooks-img{
    height: 165px;
}

/* Vision */
.v {
    position: relative;
    display: inline-block;
}
  .v-img {
    height: auto;
    text-align: start;
    border-radius: 12px;
    padding: 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -70%;
    right: -95%;
    margin-top: -5px;
    transition-timing-function: ease;
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-100px);
    transition-duration: 0.5s;
}
  .v:hover .v-img {
    opacity: 100%;
    transform: rotate(-10deg);
}

/* Technology */
.t {
    position: relative;
    display: inline-block;
}
  .t-img {
    text-align: start;
    border-radius: 12px;
    padding: 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -70%;
    right: -50%;
    margin-top: 5px;
    transition-timing-function: ease;
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-100px);
    transition-duration: 0.5s;
}
  .t:hover .t-img {
    opacity: 100%;
    transform: rotate(10deg);
}

/* CRAFTSMANSHIP */
.c {
    position: relative;
    display: inline-block;
}
  .c-img {
    height: auto;
    color: #fff;
    text-align: start;
    border-radius: 12px;
    padding: 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -60%;
    right: -35%;
    margin-top: -5px;
    transition-timing-function: ease;
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-100px);
    transition-duration: 0.5s;
}
  .c:hover .c-img {
    opacity: 100%;
    transform: rotate(-10deg);
}

/* AESTHETICS */
.a {
    position: relative;
    display: inline-block;
}
.a-img {
    height: auto;
    text-align: start;
    border-radius: 12px;
    padding: 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -90%;
    right: -55%;
    margin-top: 80px;
    transition-timing-function: ease;
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-100px);
    transition-duration: 0.5s;
}
.a:hover .a-img {
    opacity: 100%;
    transform: rotate(10deg);
}

.a-img:hover, .c-img:hover, .t-img:hover, .v-img:hover{
    opacity: 0 !important;
} 

hr{
    border: 0;
    background:linear-gradient(to left,#fabf29,#007656,#ffccde);
    height: 1px;
}

.section_three{
    height: 1300px;
    background-color: #1c1c1c;
    padding-top:100px ;
    margin-bottom: 200px !important;
}

.lab h1{
    margin: 0 0 50px 165px;
    font-family: three;
    font-weight: 100;
    font-size: 18px;
}

.info h1{
    font-family: one;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 5px 0 50px 165px;
}

.grid{
    color: #988e9f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    max-height: 350px;
    padding: 0;
    width: 100%;
    margin-bottom: 150px;
}

.box1{
    margin: 5px 0;
    width: 40%;
    backface-visibility :hidden;
    box-sizing :border-box;
}

.box1 h1{
    font-family: one;
    margin: 10px 15px;
    text-align: center;
    color:#ffccde ;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    box-sizing: border-box;
}

.box1 p{
    text-align: center;
}

.box1 p a{
    font-family: seven;
    margin: 2px 2px 2px 2px;
    text-align: center;
    text-decoration-line: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    box-sizing: border-box;
    transition: all ease-in-out 0.5s;
}

.box1 p a:hover{
    color: var(--red);
    margin-left: 25px;
    transition: all 0.3s;
}

.name{
    display: flex;
    justify-content: center;
    font-size: 152px;
    font-family: four;
}

.profile_photo{
    display: flex;
    justify-content: center;
    margin-top: -88px;
}

.photo{
    border-top-left-radius: 422px;
    border-top-right-radius: 422px;
    height: 506px;
}

.bio{
    margin: 40px auto;
    width: 800px;
}

#bio{
    color: whitesmoke;
    font-size: 52px;
    font-family: pcb_light;
    text-align: center;
}


#aboutus{
    height: 0px;
}

.section_four{
    background-color: rgb(20, 18, 28);
    box-sizing: border-box;
    color: rgb(249, 249, 249);
    display :block;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 0px;
    margin-right: 0px;
    min-height :550px;
    /* overflow-x :hidden;
    overflow-y: hidden; */
    padding-left: 15px;
    padding-right :15px;
    position :relative;
    text-align :left;
    min-width: 500px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* .wrap{
    display: inline;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: nowrap;
} */

.wrap { white-space: wrap; overflow: hidden; text-overflow: ellipsis; }

    .row_align{
    max-width: 2000px;
    box-sizing: border-box;
    color: rgb(249, 249, 249);
    display :flex;
    flex-wrap: wrap;
    justify-content :center;
    margin-left: auto;
    margin-right :auto;
    padding-left: 15px;
    padding-right :15px;
    text-align: left;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color :rgba(0, 0, 0, 0);
    }

.offset{
    backface-visibility :hidden;
    box-sizing :border-box;
    color :rgb(249, 249, 249);
    display: block;
    flex-basis: 75%;
    max-width: 85%;
    padding-right: 5px;
    padding-top: 0px;
    position :relative;
    text-align :left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.about-1{
    z-index: 10;
    margin-top: -1100px;
    display: flex;
    justify-content: start;
}
.about{
    font-family: three;
    font-weight: 100;
    font-size: 18px !important;
}

.timeline{
    backface-visibility: hidden;
    background-color :rgb(255, 255, 255);
    box-sizing :border-box;
    cursor: none;
    margin-top: 150px;
    margin-left: -10px;
    height: 850px;
    width :1px;
    margin-bottom: 142px;
}

.code_line{
    box-sizing :border-box;
    color :rgb(249, 249, 249);
    display: flex;
    flex-wrap: wrap;
    margin-top: 72.5px;
    text-align :left;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.code_wrp{
    display: block;
    width: 100%;
    color :rgb(249, 249, 249);
    font-family :seven;
    font-size :16px;
    font-weight :400;
    line-height :25.6px;
    text-align: left;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-bottom:100px ;
}

.code-1 div{
    width: 100%;
}

/* Allow flex items to shrink so inner text can wrap */
.code_line .code-1{
    min-width: 0;
}

.code_line .code-1 div{
    white-space: normal;
    overflow-wrap: anywhere;
}

.code-1:hover {
    background-color: #231d28;
    position: relative;
}

.code-1:hover:before {
    background-color: #231d28;
    content: "";
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.code-1::after{
    color: #504770;
    content: attr(data-line-nr);
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 16px;
    left: -60px;
    line-height: 1.6;
    position: absolute;
    top: 0;
}

.cursor {
    animation: blink .8s infinite;
    content: "";
    opacity: 0;
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.section_five{ 
    height: 1400px;
    background-color: #1c1c1c;
    padding-top:100px ;
}

.contact-1{
    display: flex;
    justify-content: center;
}

.contact{
    font-family: three;
    font-weight: 100;
    font-size: 18px !important;
}

.contact_form{
    justify-content: center;
    display: flex;
}

.contact_form form{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 50px;
}

.contact_form form h1{
    font-size: 28px;
    margin-top: 20px;
    font-family: one;
}

.input{
    border: 1px solid rgba(176, 196, 222, 0.151);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    color: whitesmoke;
    background-color: #1c1c1c;
    font-size: 15px;
    font-family: seven;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    margin: 30px 15px 30px 30px;
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#1593e3,#5918df);
    background-size: 100%;
    border: none;
    border-radius: 50px;
    color: hsla(0,0%,100%,.9);
    font-family: seven;
    font-size: 20px;
    line-height: 1;
    padding: 17px 100px;
    text-align: center;
    text-transform: uppercase;
    transform: scaleX(1);
    background-position: 0 50%;
    bottom: 0;
    cursor: pointer;
    transition-duration: 1.5s;
}

.btn:hover{
    background: linear-gradient(-45deg,#5918df,#1593e3,#ff3d77,#ffa63d);
    transition: all 1.5s ease-in-out;
}

.btn2{
    margin: 30px 30px 30px 15px;
    background: transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: hsla(0,0%,100%,.9);
    font-family: seven;
    font-size: 20px;
    line-height: 1;
    padding: 17px 100px;
    text-align: center;
    text-transform: uppercase;  
    background-position: 0 50%;
    bottom: 0;
    cursor: pointer;
}

.btn2:hover{
    color: #1c1c1c;
    background-color: white;
    transition: all .5s ease-in-out;
}

.connect{
        place-content: center flex-start;
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: 40px;
        overflow: hidden;
        padding: 100px 40px;
        position: relative;
}

.connect div{
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 10px;
    height:393px;    
    margin-top: 50px;
    padding: 0px;
    position: relative;
    width: 100%;
}

.connect div h1{
    font-family: four;
    font-size: 80px;
    line-height: 88px;
    font-weight: 400;
}

.connect div h6{
    font-family: eight;
    color: rgb(167, 169, 190);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 656px;
    text-align: center;
    flex-wrap: wrap;
}

.connect .icons{
    display: flex;
    flex-direction: unset;
    height: 100px;
    gap:1px;
}

.icon{    
    height: 55px;
    width: 55px;
    border-radius: 10px;
}

.icon-1{
    opacity: 1;
    transform: rotate(12deg);
}

.icon-1:hover ,.icon-2:hover,.icon-3:hover,.icon-4:hover{
    transform: rotate(0deg);
    transition: 500ms;
}

.icon-2{
    opacity: 1;
    transform: rotate(-12deg);
    margin-left:-10px;
}

.icon-3{
    opacity: 1;
    transform: rotate(12deg);
}

.icon-4{
    opacity: 1;
    transform: rotate(-12deg);
}

footer{
    display: flex;
    justify-content: center;
    overflow: visible;
    padding: 50px;
    margin-bottom: 80px;
}

.foot_one{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:#988e9f ;
    font-family: seven;
}

.bottom_resume{
    margin: 2px !important;
}

.icon_float{
    backdrop-filter: blur(15px);
    background: rgba(65, 64, 64, 0.3);
    border-radius: 3rem;
    bottom: 2rem;
    left: 50%;
    padding: 11.2px 27.2px;
    position: fixed;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: -webkit-max-content;
    width: max-content;
    z-index: 2;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

.icon_float a{
    display: flex;
    background: transparent;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
    padding: 0.9rem;
    transition: var(--transition);
}

.icon_float a:hover{
    background: var(--red);
    color: var(--color-white);
    cursor: pointer;
}

/* Accessibility: focus-visible for interactive elements */
.resume:focus-visible,
.btn:focus-visible,
.btn2:focus-visible,
.icon_float a:focus-visible{
    outline: 2px solid var(--red);
    outline-offset: 3px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .name { font-size: 110px; }
    .photo { height: 420px; }
    .section_two { padding: 160px 24px; }
    .grid { max-height: none; }
}

/* Respect users who prefer reduced motion */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0s !important;
  }
} */

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>    All the Size */


.small{
 font-size: 20px;
}
.mid{
    font-size: 35px;
}
.large{
    font-size: 55px;
}

.extra_large{
    font-size: 80px;
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>    All the Colors */

.bg_red{
    color:#ee7050;
}

.grey{
    color: rgb(204, 203, 203);
}
    
.white{
    color: white;
}
    
.light_color{
    color: #fbd4b9;
}

.code_blue{
    color: #3a17df;
}

.code_yellow{
    color:#eeff31 ;
}

.code_red{
    color:#e31c28 ;
}

.code_green{
    color: #1de33a;
}

.code_lightgreen{
    color: #1de394;
}

.code_orange{
    color:#e39b21 ;
}

.code_grey{
    color:#78707e ;
}

.code_white{
    color:#f9f9f9 ;
}

.code_lightgrey{
    color: #3b3553;
}

.wine{
    color: var(--red);
}

.yellow{
    color: #fabf29;
}

.green{
    color: #007656;

}
 
.light_pink{
    color: #ffccde;

}

.red{
    color: #f54e26;
}

.purple{
    color:var(--color1);
}

.light_purple{
    color:#1a1527;
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>    All the Functions */


.d_design{
    font-style: italic;
    font-family: six ;
    font-weight: 100;
}

.d_dev{
    font-family: seven;
    font-weight: 700;
}

.forumala_con{
    color: #fff6e8;
    font-style: normal;
    line-height: 88px;
    font-family: pcb_light;
}

.hide_link{
    text-decoration: none;
}

.transparent{
    cursor: default;
    color: transparent;
    user-select: none;
}

/* ===============================================>>>>>>>>>>>>>>>>>>>>>>>>>>    All for ScrollBar */


::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent,#f54e26);
    border-radius: 12px;
    transition: all ease 0.5s;
}

::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(transparent,#f76743);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:active{
    background:linear-gradient(transparent,#f767438a);
    border-radius: 12px;
}